<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>My Story (So Far)</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have been a software engineer in the video games industry for almost 20 years, spanning four generations of consoles and several shipped titles. Most of this time has been spent working specifically in audio, though I also have experience in several other game domains such as rendering, engine systems, and gameplay.
        </p>
        <p>
          I am deeply passionate about the art of video game sound and enjoy spending my days doing cool stuff - from working with gameplay programmers to help provide a voice to their work, to streamlining tools and workflows so designers can spend more of their time doing what they do best - make awesome game audio!
		  
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Some Things I've Done (That I think are cool!)</h3>
		    <ul>
    			<li>
            Shipped the first EA Sports game with a custom user music feature that allowed the player to replace any or all of the game soundtrack with their own tunes.
    			</li>
          <li>
            Shipped the first EA Sports game that could output to 7.1 surround sound.
          <li>
            Worked on the interactive music feature found in SSX (2012) that dynamically altered the soundtrack based on player input and gameplay.
    			<li>
            Successfully helped migrate several EA Sports games to a common game engine (Frostbite).
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
