<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    <h3 style="margin-top:0">Personal Interests</h3>
        </p>
			<ul>
			  <li>
				 <b>Music: </b>I've been playing guitar since I was 12 years old, and I'm currently working through an adult's beginner guide to piano. I've tinkered in composition, both acoustic and electronic.
			  </li>
			  <li>
				  <b>Writing: </b>I write short stories and novel-length fiction. I have completed one novel draft and have several others in varying stages of progress. When offered, I often take creative writing courses through The Writer's Studio at Simon Fraser University.
			  </li>
			  <li>
				  <b>Travelling: </b>I am particularly fond of 4wd camping voyages through the Australian Outback...alone. I've been lucky enough to have done this three times so far, and blogged about it in <a href="https://thecrow2012.travellerspoint.com">2012</a>, <a href="https://thecrow2014.travellerspoint.com">2014</a>, and <a href="https://thecrow2017.travellerspoint.com">2017</a>.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          I'm currently working through "Designing Audio Effect Plugins in C++" by Will C. Pirkle to learn more about low level FIR and DSP algorithms. The goal is to eventually redo a granular synthesizer program I first wrote in university and update it to work as a plugin.
    		</li>
  			<li>
          I've started drafting notes for a new novel or novella that combines ideas behind alternative timelines and reincarnation/resurrection. Yes, it will probably end up as convoluted an idea as it sounds...
  			</li>
  		    </ul>
  		   <!-- <h3>Other Things</h3>
  		    <ul>
  			
		   </ul>-->
      </div>
    </div>
  </div>
</section>
