<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Music</b>. I've been playing guitar since I was 12 years old, and I'm currently working through an adult's beginner guide to piano. I enjoy writing music, both acoustic and electronic.
			  </li>
			  <li>
				  <b>Creative Writing</b>. Along with poetry and song lyrics, I also spend a lot of time writing short as well as novel-length fiction. I have completed one novel draft and have several others in progress. I frequently take creative writing courses through SFU's Writer's Studio program.
			  </li>
			  <li>
				  <b>Travelling</b>. Who doesn't enjoy travelling? I have a particular fondness for 4wd camping voyages through the Australian Outback...alone. I've done this three times (and hope to do it again in the future), and blogged about them (some anecdotes cringier than others) in 2012, 2014, and 2017.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          I'm currently working through "Designing Audio Effect Plugins in C++" by Will C. Pirkle to learn more about low level FIR and DSP algorithms. Ultimately the goal will be to redo a granular synthesizer program I first wrote in university (way too long ago!) and update it to work as a VST plugin.
    		</li>
  			<li>
          After a bit of a break I've started drafting notes for a new novel or novella that explores combining ideas behind alternative timelines and reincarnation/ressurection. Yes, it is probably as convolulted an idea as it sounds...just the way I like it.
  			</li>
  		    </ul>
  		   <!-- <h3>Other Things</h3>
  		    <ul>
  			<li>
           Volunteer at Boys and Girls club (since 2008)
  			</li>
  			<li>
  			  Active member of The Seattle Ruby on Rails Developers Meetup Group.
  			</li>
		   </ul>-->
      </div>
    </div>
  </div>
</section>
